:root {
  --default-font: Helvetica, Arial, sans-serif;
  --second-font: "Spectral", Georgia;
  --color-default-font: #333;
}

.app {
  font-family: var(--default-font);
  color: var(--color-default-font);
}

.container {
  padding: 0px 1rem;
}

.link {
  text-decoration: none;
  color: var(--color-default-font);
}
