:root {
  --default-font: Helvetica, Arial, sans-serif;
  --second-font: "Spectral", Georgia;

  --header-bg-color: #ffffff;
  --home-bg-color: #ffffff;
  --footer-bg-color: #fb1;
  --font-default-color: #333;
}

.app {
  font-family: var(--default-font);
  color: var(--font-default-color);
}

.container {
  padding: 0px 1rem;
}

.link {
  text-decoration: none;
  color: var(--color-default-font);
}
